<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 xmlns:tools="http://schemas.android.com/tools"
  package="com.imin.printer.imin_printer">
    <application
        android:name="com.imin.printer.imin_printer.BaseApplication"
        tools:replace="android:name"
        >

            <provider
                android:authorities="com.imin.printer.imin_printer"
                android:name="com.imin.printer.imin_printer.MyProvider"
                tools:ignore="WrongManifestParent" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
        <!-- Permissions options for the `storage` group -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
</manifest>
