<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.imin.printer.imin_printer">
 <!-- xmlns:tools="http://schemas.android.com/tools" -->
     <!-- <uses-sdk tools:overrideLibrary="com.imin.printer"/>
    <application
        android:name="com.imin.printer.imin_printer.BaseApplication"
        tools:replace="android:name"
        >

            <provider
                android:authorities="com.imin.printer.imin_printer"
                android:name="com.imin.printer.imin_printer.MyProvider"
                tools:ignore="WrongManifestParent" />
    </application> -->
</manifest>
